:root {
    --clr-primary-300: #68c3d4;
    --clr-primary-400: #568ea3;
    --clr-primary-500: #37323e;
    --clr-accent-100: #deb841;
    --clr-neutral-100: #FFF;
    --clr-neutral-200: #000;
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.active{
    color: red;
}
/* Header Styles */
header {
    text-align: center;
    background-color: var(--clr-primary-400);
}
nav {
    background-color: var(--clr-primary-500);
    padding: .5rem;
}
.hamburger {
    background-color: transparent;
    display: block;
    border: 0;
    margin: auto;
    cursor: pointer;
}
.hamburger:focus {
    outline: none;
}
.hamburger > img{
    width: 40px;
    height: auto;
}
#nav-links {
    display: none;
}
#nav-links.show {
    display: flex;
    flex-direction: column;
}
li {
    list-style-type: none;
}
li > a {
    color: var(--clr-neutral-100);
    text-decoration: none;
    font-size: 1.3125rem;
    transition: .2s;
}
li > a:hover {
    color: var(--clr-accent-100);
    transition: .2s;
}
.favorite-things {
    list-style-type: '-';
    list-style-position: inside;
}
h2{
    text-align: center;
}

/* Main Styles */
main {
    flex: 1 0 auto;
    background-color: var(--clr-primary-300);
}
.container {
    display: flex;
    height: auto;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
}
.flex-container {
    display: flex;
    padding: 10px;
}
.image-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.standard-image-size {
    max-width: 200px;
    height: auto;
}
.description-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.20rem;
}
.description-holder {
    width: fit-content;
}
.description-holder> h2 {
    text-align: center;
}
.img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
#video {
    width: 100%;
    height: 300px;
}
.restaurant-link {
    color: var(--clr-primary-500);
    text-decoration: none;

}
.ulFlex{
    display: flex;
    gap: 15px;
}



/* Footer Styles */
footer {
    flex-shrink: 0;
    background-color: var(--clr-primary-400);
    text-align: center;
    font-size: 1.20rem;
}
#tel{
    color: #000;
    text-decoration: none;
}
.telNum-other {
    display: none;
}
#email {
    text-decoration: none;
    color: var(--clr-neutral-200);
    transition: .2s;
}
#email:hover{
    color: var(--clr-accent-100);
    transition: .2s;
}

.social-logos {
    width: 50px;
    height: auto;
    margin: 10px;
}

/* Tablet Viewport */
@media only screen and (min-width: 600px){
    main {
        display: flex;
        justify-content: start;
        align-items: center;
        height: 100%;
    }
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .image-container{
        display: flex;
        flex-direction: row;
    }
    #span-2-food {
        grid-column: span 2;
    }
   #header-gallery {
       grid-column: span 2;
   }
    .flex-container {
       align-self: center;
       flex-direction: column;
       justify-content: center;
       flex: 1 1 auto;
    }
    #cold-brew {
        align-self: flex-end;
    }
    .img-section {
        grid-column: 2;
        display: flex;
        flex-direction: row;
    }
    .hamburger {
        display: none;
    }
    #nav-links {
        display: flex;
        justify-content: space-evenly;
    }
    .standard-image-size {
        min-width: auto;
        height: auto;
    }
    #video {
        width: 500px;
        height: 400px;
    }
}
/* Desktop Viewport */
@media only screen and (min-width: 830px){
    #nav-links {
        display: flex;
        justify-content: space-evenly;
    }
    .hamburger {
        display: none;
    }
    .container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .image-container {
        flex-direction: column;
        justify-self: center;
    }
    .standard-image-size {
        min-width: 400px;
    }
    .tall-heights {
        height: 400px;
    }
    .description-section {
        display: flex;
        gap: 20px;
    }
    .img-section{
        grid-row: 2;
    }
    .telNum-mobile {
        display: none;
    }
    .telNum-other{
        display: block;
    }
    .restaurant-link:hover{
        transition: .2s;
        color: var(--clr-accent-100);
    }
    .desktop-text {
        font-size: 1.3125rem;
    }
    
}